.body-class{
    width: 200px;
    font-size: 15px;
    background-color: #bbb2e9;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#welcome-id{
    color: rgb(122, 12, 40);
    text-decoration: underline;
    text-align: center;
}

#logbtn{
    background-color: gold;
    padding: 5px;
    border-radius: 5px;
}
#subbtn{
    background-color: gold;
    padding: 5px;
    border-radius: 5px;
}